{% extends 'main_page/layout.html' %}
{% load static %}

{% block title %}Добро пожаловать{% endblock title %}

{% block content%}
<header>
        <div class="container">
            <div class="row row-wellcome">
                <div class="col-12">
                    <h1 class="text-center text-black">Привет!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-center text-black">Добро пожаловать в {name}!</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-center text-black">Тут что-то надо написать</p>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row row-about">
                <div class="col-12">
                    <h2 class="text-start text-black">О нас</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-center text-black">Тут что-то надо написать</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="text-start text-black">Контакты</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p class="text-center text-black">Тут что-то надо написать</p>
                </div>
            </div>
        </div>
</header>
<footer id="footer">

</footer>
{% endblock content%}