{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/icons8-moon-96.png' %}" type='image/x-icon'>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/user_pa.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <div class="container">
      <button class="btn btn-outline-light btn-sign-in" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebar" aria-controls="sidebar">
        Меню
      </button>
    </div>
  </nav>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sidebarLabel">Меню</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body d-flex flex-column justify-content-between">
        <div class="list-group">
          {% block menu %}

          {% endblock menu %}
        
        </div>
        <div class="d-grid gap-2 justify-content-center">
          <a href="/sign_in">
            <button class="btn btn-outline-light btn-lg btn-danger" type="button">Выйти</button>
          </a>
        </div>
      </div>
    </div>
    {% block content %}
    
    {% endblock content %}
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var form = document.querySelector('form');
        var spinner = document.getElementById('loading-spinner');
        var fileInput = document.querySelector('input[type="file"]');
        var submitButton = document.querySelector('button[type="submit"]');
    
        // При отправке формы
        form.addEventListener('submit', function(event) {
          // Проверяем, было ли событие change на элементе fileInput и кнопка submit нажата
          if (fileInput.value && event.submitter === submitButton) {
            // Удаляем класс invisible
            spinner.classList.remove('invisible');
          }
        });
    
        // После завершения загрузки файла
        form.addEventListener('load', function() {
          // Добавляем класс invisible
          spinner.classList.add('invisible');
        });
      });
    </script>
    

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
</body>
</html>