{% extends 'user_pa/user_layout.html' %}
{% load static %}

{% block title %}Имя пользователя{% endblock title %}

{% block menu %}
<a href="#" class="list-group-item list-group-item-action act" aria-current="true">
  Запись
</a>
<a href="/user_pa/profile" class="list-group-item list-group-item-action" aria-current="true">
  Профиль
</a>
<a href="#" class="list-group-item list-group-item-action" aria-current="true">
  Выйти
</a>
{% endblock menu %}

{% block content%}
<div class="container">
    <div class="container d-flex flex-column align-items-center mb-3">
    <p class="mt-3 fw-normal text-center">Загрузите аудиозапись</p>

    <form action="upload.php" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3">
          <input type="file" class="form-control" name="wavfile" accept=".wav">
        </div>
        <button type="submit" class="btn btn-outline-light btn-sign-in">Загрузить</button>
    </form>
    </div>
    <div class="d-flex justify-content-center">
      <div id="loading-spinner" class="spinner-border invisible" role="status">
        <span class="visually-hidden">Загрузка...</span>
      </div>
    </div>
      <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">Дата записи</th>
            <th scope="col">Результат</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Date</td>
            <td>Result</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Date</td>
            <td>Result</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>

{% endblock content%}